/* blue #335C67  RGB 51, 92, 103
light #FFF3B0  RGB 255, 243, 176
gold #E09F3E  RGB 224, 159, 62
pink-red #9E2A2B RGB 158, 42, 43
dark red #540B0E RGB 84, 11, 14
 */
body {
  height: 100%;
  background-image: url("/assets/images/bones40.png");
  background-repeat: no-repeat;
  width: auto; /*or your image's width*/
  height: auto; /*or your image's height*/
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.navbar {
    background-color: #FFF3B0;
    width: 100%;
    height: 100px;
    border: none;
    float: left;
}

h1 {
    color: #540B0E;
}

.navbear-header .navbar-brand {
  float: left;
}

.collapse {
  justify-content: flex-end;
}

.navbar-nav ul li a {
    color: #335C67;

}


#logo img {
    background-color: rgba(158, 42, 43, 0.5);
    float: left;
    margin-left: 20px;
    z-index: 1;
}

#imageBlock img {
    margin-top: 120px;
    margin-left: 20px;
    width: 200px;
    height: 200px;
    float: left;
}

.container-fluid{
    margin-top: 60px;
    justify-content: center;
    max-width: 600px;
    height: auto;
}

.card {
    width: 680px;
    height: auto;
    margin-bottom: 120px;
}

.list {
    width: 320px;
}

.image img {
  margin-left: 80px;
  max-width: 240px;
  height: auto;
  float: right;
}

.footer {
    height: 100px;
    width: 100%;
    padding: 20px;
    position: relative;
    background-color: #FFF3B0;
    margin-top: -100px;
}

.footer-text {
  padding: 15px;
}

.footer-copyright {
  justify-content: center;
}
